% rebase("base.html")

<header>
    <h1>{{ oseba.ime }}</h1>
</header>

<main>
    <p>Seznam stroškov:</p>
    <ul>
        <table>
            <tr>
                <th>Datum</th>
                <th>Cena</th>
                <th>Kaj</th>
            </tr>
            % for strosek in oseba.stroski:
            <tr>
                <td> {{ strosek.datum }} </td>
                <td> {{ strosek.cena }} </td>
                <td> {{ strosek.kaj}} </td>
            </tr>
            % end
        </table>
    </ul>
</main>
